body {
  background-image: linear-gradient(90deg, #000046 0%, #4f1c96,70%, #1cb5e0 100%);
  background-size: cover;
}

.notice {
  font-size: 30px;
  margin-top: 50vh;
  /* height: 100vh; */
  display: flex;
  color: white;
  font-family: fantasy;
  text-align: center;
  letter-spacing: 1px;
  justify-content: center;
}