@font-face {
    font-family: btn-font;
    src: url(./Fonts/Fontspring-DEMO-noyhgeometric-medium.otf);
}

.logo img{
    margin-left: 10px;
    margin-bottom: -43px;
    height: 50px;
    width: 380px;
}

.nav-bar{
    
    display: flex;
}
.nav{
    display: flex;
    margin-left: 155px;
}
.nav a{
    text-decoration: none;
    color: black;
    font-family: btn-font;
    font-size: 25px;
    margin-left: 90px;
}