@font-face {
    font-family: btn-font;
    src: url(./Fonts/Fontspring-DEMO-noyhgeometric-medium.otf);
}

.logo img{
    height: 50px;
    width: 380px;
}

.nav-bar{
    display: flex;
}
.nav{
    display: flex;
}
.nav a{
    text-decoration: none;
    color: black;
}